<div id='home-background' class='container-fluid'>
    <div id='home-row' class='row'>
        <div id='home-column' class='col-xs-12 col-lg-4'>
            <input type='text' placeholder='county' ng-model='county'>
            <button ng-click='localAnimalFunc(county)'>Submit</button>
        </div>
        
        <div class='row'>
            <div ng-repeat='pet in pets track by $index'>
                <div class='col-xs-3'>
                    <p>{{pet.owner}}</p>
                    <p>{{pet.kind}}</p>
                    <p>{{pet.gender}}</p>
                    <p>{{pet.photo}}</p>
                    <p>{{pet.missingSince | date: "MM.dd.y}}</p>
                    <p>{{pet.county}}</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
