<div id='home-background' class='container-fluid'>
    <div id='home-row' class='row'>
        <div id='home-column' class='col-sm-12 '>
            <input type='text' placeholder='county' ng-model='county'>
            <button ng-click='localAnimalFunc(county)'>Submit</button>
        </div>
        
        <div class='row'>
            <div ng-repeat='pet in pets track by $index'>
                <div class='col-xs-3'>
                    <p>{{pet.owner}}</p>
                    <p>{{pet.pets.kind}}</p>
                    <p>{{pet.pets.gender}}</p>
                    <p>{{pet.pets.photo}}</p>
                    <p>{{pet.pets.missingSince | date: "MM.dd.y}}</p>
                    
                </div>
            </div>
            <p class='col-xs-3'>this is the message: {{message}}</p>
        </div>
    </div>
</div>
