<div class='container-fluid'>
    <div id='profile-row' class='row'>
        <div id='logIn-column' class='col-xs-12'>
            <form id='logIn-form'>
                <h4>Log in</h4>
                <p><input type="email" placeholder="email" required="true" ng-model='user.emailAddress'/></p>
                <p><input type="password" placeholder="password" required="true" ng-model='user.password'/></p>
                <p><button ng-click='logInFunc(user)'>Log In</button></p>
            </form>
        </div>
    </div>
</div>
