  <div class='container-fluid'>
      <div id='profile-row' class='row'>
        <div id='profile-column' class='col-xs-12'>
          <form id='formProfile'>
            <h4>Log in or Create a New Profile</h4>
            <p><input type="email" placeholder="email" required="true"/></p>
            <p><input type="password" placeholder="password" required="true"/></p>
            <p><button>Log In</button> <button>Create New Profile</button> </p>
          </form>
        </div>

        </div>
      </div>
